.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.gallery .photo-card {
  height: 100%;
  overflow: hidden;
}

.gallery img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.stats {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.stats-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
}
.material-icons {
  margin-right: 3px;
}
